@mixin gradient-border($border: 1px, $direction: to bottom, $from, $to) {
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid $border transparent;

  &:before {
    content: '';
    @extend .position-absolute-0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient($direction, $from, $to);
  }
}

@mixin bg-hover($color, $shadow: $primary-shadow) {
  transition:
    background-color $main-duration ease-out,
    box-shadow $main-duration ease-in;
  &:hover {
    background-color: $color;
    box-shadow: 0 0 15px 2px $shadow;
  }
}

@mixin text-hover($color, $shadow: $primary-shadow) {
  transition: color $main-duration ease-out;
  &:hover {
    color: $color;
  }
}

@mixin breakpoints($point) {
  @if $point == xs {
    @media (max-width: $breakpoint-xs-max) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $breakpoint-lg-min) and (max-width: $breakpoint-lg-max) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: $breakpoint-xl-min) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$point}";
  }
}
