$primary-100: #f2f1f2;
$primary-200: #c7c7c7;
$primary-300: #a3a3a3;
$primary-400: #8c8c8c;
$primary-500: #4c4c4c;
$primary-600: #393939;
$primary-700: #333;
$primary-800: #292929;
$primary-900: #282828;
$secondary: #3f37f1;
$tertiary: #cf5221;
