@use './sass/variables' as *;
@use './sass/global-rules' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background: $primary-900;
  color: $primary-100;
  font-family: 'Open Sans', sans-serif;
}
