@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: $primary-100;
  color: $primary-900;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  height: 100vh;
  background: linear-gradient(
    to top,
    $primary-950 0%,
    $primary-950 50%,
    $primary-950 75%,
    $primary-900 100%
  );
  color: $primary-100;
  font: {
    family: 'Open Sans', sans-serif;
    size: 14px;
  }
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
button,
a {
  color: inherit;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
