.button {
  background-color: $primary-800;
  box-shadow: 0 -2px 2px $primary-shadow;
  gap: 5px;
  font-size: $font-base;
  @extend .px-6, .py-2, .rounded, .flex-center;
  @include gradient-border($from: $primary-500, $to: transparent);
  @include bg-hover($primary-600);
}
